@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}

::-webkit-scrollbar{
    display: none;
}

 
@media (max-width:640px){
    a.active{
        background: #000;
        color: white;
    }
    
}

.multiColor{
    background:linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);

}